.navbar{
    background-color: rgb(24, 174, 243);
}
.rounded-image{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    padding-right: 5px;
}
.btn{
    border-radius: 12px;
}

* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    max-width: 100%;
    min-height: 100vh;
    font-size: 18px;
    font-family: Oswald, Roboto, Arial, Helvetica, sans-serif;
    margin: 110px;
    height: 1600px;
  }

/* Services */
.services {
    order: 3;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .service {
    background: #fff;
    padding: 10px;
    text-align: center;
    border: solid 1px #aaa;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  .service .icon {
    font-size: 3em;
  }
  
  .service p {
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 100;
  }

#about{
  padding-top: 100;
}

/*contact*/

#contact{
  padding-top: 5;
}